.elements {
  display: flex;
  flex-wrap: wrap;
  width: 882px;
  row-gap: 20px;
  column-gap: 18px;
  margin-top: 58.25px;
  margin-bottom: 67px;
  min-height: calc(100vh - 271px);
}



@media screen and (max-width: 880px) {
  .elements {
      width: 90vw;
  }
}